html,
#root {
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eaeaea;
  min-height: 100%;
}
.Catalog {
  position: relative;
  min-height: 100%;
}
.Basket {
  max-width: 1127px;
  margin: 0 auto;
  height: 100%;
}
.basket {
  height: 100%;
  min-height: 80vh;
}
a {
  text-decoration: none;
  color: #000;
}
.button {
  cursor: pointer;
}

.contacts,
.servis,
.favorites {
  max-width: 1127px;
  margin: 0 auto;
  min-height: 80vh;
}
