.region__bottom__title{
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  text-align: left;
  color: #838383;
  padding-bottom: 20px;
}

.region__bottom__cards {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }

  .region__bottom {
    max-width: 1110px;
    padding-top: 28px;
    margin: 0 auto;
    padding-left: 17px;
  }











