.footer{
    width: 1110px;
    margin: 0 auto;
    border-radius: 30px 30px 0px 0px;
    background-color:#fff;
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
    margin: 20px 0 0 10px;
    /* position: absolute; */
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
.footer__logo{
    padding-left: 29px;
    font-size: 25px;
    font-weight: 700;
    color: #101010;
  }
.footer__social{
  padding-right: 26.9px;
  display: flex;
  align-items: center;
  height: 30px;
}
.footer__social img {
  padding: 9px;
  width: 30px;
  height: auto;
}
.footer__link__lang{
    display: flex;
    justify-content: space-between;
    width: 427px;
  }
.footer__link ul{
    margin-top: 0;
}
.footer__link ul li, .footer__link__next li{
  font-size: 17px;
  font-weight: 400; 
  list-style-type: none;
  padding: 5px;
}
.footer__link__next span{
  display: flex;
  padding-right: 17px;
}
.cards__raiting__icon {
  max-width: 100%;
  height: auto;
  padding-right: 10px;
}
.lang{
  padding-top: 35px;
}
.lang__en{
  font-size: 15px;
  font-weight: 500;
}
.lang__ru{
  font-size: 15px;
  font-weight: 700;
  color:#FFA542;
}
